/*******************************
 *      MAIN PAGE STYLING
 *******************************/

.root {
    -fx-bg-main: #b7deeb;
    -fx-bg-sidebar: #EEF2F6;
    -fx-bg-card: #FFFFFF;
    -fx-bg-card-light: #FFFFFFcc;

    -fx-blue: #2a8396;
    -fx-blue-light: #E5EEFFaa;
    -fx-blue-dark: #246f80;

    -fx-gray-text: #4A4A4A;
    -fx-gray-light: #D7DDE4;

    -fx-border-radius: 12px;
    -fx-btn-radius: 10px;
}

/* ====== GENERAL ====== */

.card {
    -fx-background-color: -fx-bg-card;
    -fx-background-radius: 16px;
    -fx-padding: 7 9 7 9;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 15, 0.2, 0, 3);
}

.card-light {
    -fx-background-color: -fx-bg-card-light;
    -fx-background-radius: 16px;
    -fx-padding: 5 7 5 7;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 15, 0.2, 0, 3);
}

.text-box {
    -fx-background-color: -fx-bg-card-light;
    -fx-background-radius: 14px;
    -fx-padding: 2 5 2 5;
    -fx-opacity: 1;
}

.effect {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 15, 0, 0, 3);
}

/* ====== BOTONES ====== */

.tool-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 14px;
    -fx-cursor: hand;
    -fx-border-width: 2px;
    -fx-border-color: transparent;
    -fx-pref-width: 118px;
}

.tool-btn:hover {
    -fx-background-color: #ffffffaa;
}

.tool-btn:selected {
    -fx-background-color: -fx-blue-light;
    -fx-border-color: -fx-blue;
}
.profile-btn {
    -fx-background-color: #ffffffaa;
    -fx-background-radius: 14px;
    -fx-cursor: hand;
    -fx-border-width: 2px;
    -fx-border-color: transparent;
}

.profile-btn:hover {
    -fx-background-color: #eeeeeeaa;
}

.check-ans-btn {
    -fx-background-color: -fx-blue;
    -fx-text-fill: white;
    -fx-background-radius: 14px;
    -fx-cursor: hand;
}

.check-ans-btn:hover {
    -fx-background-color: -fx-blue-dark;
}

.small-btn {
    -fx-background-color: -fx-bg-card;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 15, 0.2, 0, 3);
    -fx-cursor: hand;
}

.small-btn:hover {
    -fx-background-color: -fx-gray-light;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 15, 0.2, 0, 3);
}

/* ====== ZOOM ====== */

.zoom-bar {
    -fx-background-color: -fx-bg-card;
    -fx-background-radius: 14px;
    -fx-padding: 6 16 6 16;
}

.zoom-tool {
    -fx-background-color: -fx-bg-card;
    -fx-background-radius: 14px;
    -fx-padding: 6 10 6 10;
}

/* SLIDER */
.slider .track {
    -fx-background-color: -fx-gray-light;
}

.slider .thumb {
    -fx-background-color: -fx-blue;
}

/* ====== MAP PIN ====== */

.map-pin {
    -fx-shape: "M13.558,0C6.07,0,0,6.07,0,13.558s13.558,22.346,13.558,22.346s13.558-14.858,13.558-22.346S21.045,0,13.558,0z
M13.558,20.762c-4.084,0-7.395-3.311-7.395-7.395s3.311-7.395,7.395-7.395c4.084,0,7.396,3.311,7.396,7.395
S17.642,20.762,13.558,20.762z";    
    -fx-background-color: black, white;
    -fx-background-insets: 0, 2;
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 10 );
    -fx-pref-width: 48;
    -fx-pref-height: 60;
}
.map-pin .arrow-button .arrow {
    -fx-padding: 0;
}