/*******************************
 *   PROFILE PAGE STYLING
 *******************************/

/**
 * @author Gabriela Rego
 */

.root {
    -fx-bg-box: #ffffffaa;
    
    -fx-blue: #2a8396;
    -fx-blue-light: #46acbb;
    -fx-blue-dark: #246f80;
    -fx-gray-light: #D7DDE4;
    
    -fx-white: #ffffff
}

.root {
    -fx-background-image: url("background-image.png");
}

/* ====== GENERAL ====== */

.box {
    -fx-background-color: -fx-bg-box;
    -fx-background-radius: 14px;
    -fx-padding: 2 5 2 5;
    -fx-opacity: 1;
}

/* ====== AVATAR ====== */
.profile-avatar {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 12, 0.2, 0, 3);
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-border-color: #ddd;
    -fx-border-width: 3;
}

.avatar-btn {
    -fx-background-color: -fx-white;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-cursor: hand;
}

.avatar-btn:hover {
    -fx-background-color: -fx-gray-light;
}

/* ====== BOTONES ====== */

.save-btn {
    -fx-background-color: -fx-blue;
    -fx-text-fill: -fx-white;
    -fx-background-radius: 14px;
    -fx-border-width: 2px;
    -fx-border-color: -fx-blue;
    -fx-border-radius: 14px;
    -fx-cursor: hand;
    -fx-padding: 5 15 5 15;
}

.save-btn:hover {
    -fx-background-color: -fx-blue-dark
}

.cancel-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 14px;
    -fx-cursor: hand;
    -fx-border-width: 2px;
    -fx-border-color: -fx-blue;
    -fx-border-radius: 14px;
    -fx-padding: 5 15 5 15;
}

.cancel-btn:hover {
    -fx-background-color: -fx-blue-light;
}





