/*******************************
 *    REGISTER PAGE STYLING
 *******************************/

/**
 * @author Gabriela Rego
 */

.root {
    -fx-bg-box: #ffffffaa;
    
    -fx-blue: #2a8396;
    -fx-blue-light: #E5EEFFaa;
    -fx-blue-dark: #246f80;
    
    -fx-white: #FFFFFF;
    -fx-gray-light: #D7DDE4;
}

.root {
    -fx-background-image: url("background-image.png");
}

/* ====== GENERAL ====== */

.box {
    -fx-background-color: -fx-bg-box;
    -fx-background-radius: 14px;
    -fx-opacity: 1;
}

/* ====== AVATAR ====== */

.avatar-btn {
    -fx-background-color: -fx-white;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-cursor: hand;
}

.avatar-btn:hover {
    -fx-background-color: -fx-gray-light;
}

/* ====== BOTONES ====== */

.accept-btn {
    -fx-background-color: -fx-blue;
    -fx-text-fill: white;
    -fx-background-radius: 14px;
    -fx-cursor: hand;
}

.accept-btn:hover {
    -fx-background-color: -fx-blue-dark;
}

.cancel-btn {
    -fx-background-color: -fx-white;
    -fx-background-radius: 14px;
    -fx-cursor: hand;
}

.cancel-btn:hover {
    -fx-background-color: -fx-blue-light;
}